body {
  margin: 0;
}

.Slideshow {
  width: 100%;
  height: 450px;
  overflow: hidden;
}
.Logo {
  height: 75%;
  margin-top: calc(25% / 2);
  -webkit-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}
.CheckerBoard {
  width: 100%;
  display: table-cell;
}

.BottomContent {
  position: relative;
  width: 100%;
  background-color: white;
}
.GalleryPreview {
  background-image: url(GalleryPrevImg.png);
  background-size:cover;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.Fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.Fill img {
    flex-shrink: 0;
    object-fit: cover;
    min-height: 100%;
    max-height: 100%;

}
.Overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.CheckerBoard div {
  float: left;
  width: 50%;
  height: 50vw;
}
.WhoWeAre h6, h1, h3, p {
  width: 90%;
  margin-left: 5%;

}
.FAQs {
   background-color: #1070b5;
}

.ThemeButton {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  padding: 10px 20px 10px 20px;
  border: solid #FFF 2px;
  text-decoration: none;
  transition: 0.5s;
}

.ThemeButton:hover {
  background: #17F0E4;
  border: none;
  text-decoration: none;
}

.QuestionAnswerContainer h1, h3 {
  width: 100%;
  height:auto;
  text-align: left;
  font-family: MyFont;
  color: white;
  margin-top: 2%;

}

.Footer {
  height: calc(100px - 2em);
}
.Footer h1 {
  font-family: MyFont;
  font-size: 28px;
  margin-top: calc(50px - 1vw);
  margin-bottom: calc(50px - 1vw);
  color: #1070b5;
  width: 100%;
  text-align: center;
  margin-left: 0;
}
.Footer a {
  color: #1070b5;
}

.GalAnchorContainer a {
  display: table-cell;
  vertical-align: middle;
  transition: 0.2s;
  font-size: 36px;
  font-family: Fancy;
  color: white;

}
.GalAnchorContainer a:hover {
  font-size: 48px;
}
@media only screen and (max-width: 715px) {
  .Slideshow {
    height: 250px;
    background-position: 50% 20%;
  }
  .CheckerBoard div {
    width: 100%;
    height: 70vw;
  }
  .Footer h1 {
    font-size: 15px;
  }
  .GalAnchorContainer a {
    font-size: 24;
  }
  .GalAnchorContainer a:hover {
    font-size: 36;
  }
}

@media only screen and (max-width: 1090px) {
  .Slideshow {
    height: 300px;
  }
  .GalleryPreview {
    height: 200px;
  }

}
@font-face {
  font-family: MyFont;
  src: url(MyFontRegular.woff2);
}
@font-face {
  font-family: MyFontBold;
  src: url(MyFontBold.woff2);
}
@font-face {
  font-family: Fancy;
  src: url(MyFancyFont.woff2);
}
